<ion-content>

  <div *ngFor="let plant of plants">

    <ion-card class="plant-card" (click)="openDetail(plant.id)">
      <div class="card-content">

        <!-- IMAGE -->
        <ion-img
          class="card-img"
          [src]="plant.images[0]"
        ></ion-img>

        <!-- TEXT -->
        <div class="card-text">
          <h2>{{ plant.name }}</h2>
          <p>
            {{ plant.care.placement }}
          </p>
        </div>

        <!-- FAVORITE -->
        <ion-icon
          [name]="isFavorite(plant.id) ? 'heart' : 'heart-outline'"
          class="heart-icon"
          (click)="toggleFavorite(plant.id); $event.stopPropagation()"
        ></ion-icon>

      </div>
    </ion-card>

  </div>

</ion-content>
