<ion-content>

  <div *ngFor="let hack of hacks">

    <ion-card class="hack-card" (click)="openDetail(hack.id)">
      <div class="card-content">

        <!-- IMAGE -->
        <ion-img
          class="card-img"
          [src]="hack.image"
        ></ion-img>

        <!-- TEXT -->
        <div class="card-text">
          <h2>{{ hack.title }}</h2>
          <p>{{ hack.description }}</p>
        </div>

        <!-- FAVORITE -->
        <ion-icon
          [name]="isFavorite(hack.id) ? 'heart' : 'heart-outline'"
          class="heart-icon"
          [class.active]="isFavorite(hack.id)"
          (click)="toggleFavorite(hack.id); $event.stopPropagation()"
        ></ion-icon>

      </div>
    </ion-card>

  </div>

</ion-content>
