ion-tab-bar {
  --background: #cfe5d2;
  --border: none;
}

/* ---------- TAB BUTTON ---------- */

ion-tab-button {
  --color: #5f6f61;
  --color-selected: #1f1f1f;
  font-size: 0.85rem;
}

/* ---------- ICONS ---------- */

ion-tab-button ion-icon {
  color: #5f6f61;
  font-size: 22px;
}

/* ACTIVE TAB */

ion-tab-button.tab-selected ion-icon {
  color: #1f1f1f;
}

/* LABEL (text pod ikonou) */

ion-tab-button ion-label {
  font-size: 12px;
}
