ion-header {
  --background: transparent;
  --color: var(--ion-text-color);
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 12px;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

.heart-icon {
  font-size: 22px;
  color: #9fb89f; // svetlozelená
}

.heart-icon.active {
  color: #2f4f2f; // tmavozelená (favorite)
}
